Localization
{
	en-us
	{
		#autoLOC_SCANsat_Analyze		= Analyze Data
		#autoLOC_SCANsat_StartScan		= Start Scan 
		#autoLOC_SCANsat_StopScan		= Stop Scan
		#autoLOC_SCANsat_ToggleScan		= Toggle Scan
		#autoLOC_SCANsat_Extend			= Extend
		#autoLOC_SCANsat_Retract		= Retract
		#autoLOC_SCANsat_Unknown		= Unknown
		#autoLOC_SCANsat_All_Disabled		= All Scanning Disabled
		#autoLOC_SCANsat_Disabled		= Scanning Disabled
		#autoLOC_SCANsat_TooLow			= Too Low
		#autoLOC_SCANsat_SubOptimal		= Sub-Optimal
		#autoLOC_SCANsat_Ideal			= Ideal
		#autoLOC_SCANsat_TooHigh		= Too High
		#autoLOC_SCANsat_NoData			= No Data
		#autoLOC_SCANsat_Abundance		= Abundance
		#autoLOC_SCANsat_Surface		= Surf
		#autoLOC_SCANsat_AltitudeMin		= Altitude ( min): <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest		= Altitude (best): <<1>>km\n
		#autoLOC_SCANsat_AltitudeMax		= Altitude ( max): <<1>>km\n
		#autoLOC_SCANsat_Types 			= <b>SCAN Types:</b>
		#autoLOC_SCANsat_Daylight 		= Requires Daylight: <<1>>
		#autoLOC_SCANsat_FOV			= FOV: <<1>>
		#autoLOC_SCANsat_MapProjection		= Projection
		#autoLOC_SCANsat_MapType		= Map Type
		#autoLOC_SCANsat_MapResource		= Resource
		#autoLOC_SCANsat_MapBody		= Celestial Body
		#autoLOC_SCANsat_GeneralSettings	= General Settings
		#autoLOC_SCANsat_BackgroundSettings	= Background Settings
		#autoLOC_SCANsat_ResourceSettings	= Resource Settings
		#autoLOC_SCANsat_DataManagement		= Data Management
		#autoLOC_SCANsat_ColorManagement	= Color Management
		#autoLOC_SCANsat_ScanInfo = SCAN Sensor
		#autoLOC_SCANsat_ScanInfoStatus = SCAN Status
		#autoLOC_SCANsat_ScanInfoAltitude = SCAN Altitude
		#autoLOC_SCANsat_ScanInfoType = SCAN Type
		#autoLOC_SCANsat_ScanInfoFOV = SCAN FOV
		#autoLOC_SCANsat_ScanInfoPower = SCAN Power
		#autoLOC_SCANsat_ScanInfoDaylight = Surface In Daylight
		#autoLOC_SCANsat_ScanResourceDisplay = SCAN Resources
	}
}
