Localization
{
	en-us
	{
		#autoLOC_SCANsat_BTDT_Title			= SCAN Been There Done That®
		#autoLOC_SCANsat_BTDT_Description		= This small sensor can automatically identify nearby anomalies. Since it only works over very short distances and at very low altitudes, it's primarily useful to track identified anomalies that have been visited.

		#autoLOC_SCANsat_BTDT_Exo_Description 		= This model of scanning device contains a set of passive and active sensors designed to quickly hone in on interesting features located nearby. 

		#autoLOC_SCANsat_Multi_Title			= SCAN Multispectral Sensor
		#autoLOC_SCANsat_Multi_Description		= This multichannel sensor detects radiation across several infrared, visible light, and RADAR bands. This gives it the capability to differentiate between terrain types and biomes. It can also detect anomalies such as structures on the ground.

		#autoLOC_SCANsat_Radar_Title			= SCAN RADAR Altimetry Sensor
		#autoLOC_SCANsat_Radar_Description		= SCAN brings you this high performance RADAR altimetry sensor. This is the entry-level model in this sensor family, and commonly sold in a bundle with toy rockets and remote-controlled model planes. After focus group testing revealed that 95% of the target audience tried to duct tape it to the exhaust pipe of their rocket engines, this new and improved model has been made even easier to use.

		#autoLOC_SCANsat_SAR_Title			= SCAN SCAN SAR Altimetry Sensor
		#autoLOC_SCANsat_SAR_Description		= This Synthetic Aperture RADAR sensor uses its flight path to simulate a much larger antenna. This makes it possible to detect terrain elevation at much higher resolution. The downside is that its field of view is comparatively small, and it works better at higher altitudes.
		
		#autoLOC_SCANsat_Radar3B_Title				= R-3B Radar Altimeter
		#autoLOC_SCANsat_Radar3B_Description	= The high precision radar altimeter allows collection of basic elevation data in a very narrow swath below the satellite. Uses a moderate amount of power and functions in lit and unlit situations.
		
		#autoLOC_SCANsat_RadarEO_Title				= R-EO-1 Radar Antenna
		#autoLOC_SCANsat_RadarEO_Description	= This entry-level L-band radar altimeter collects low resolution elevation data at a medium swath from lower orbits. Uses a moderate amount of power and functions in lit and unlit situations.
	
		#autoLOC_SCANsat_SARX_Title				= SAR-X Antenna
		#autoLOC_SCANsat_SARX_Description	= A basic synthetic aperture radar instrument, which sends out radar signals and uses the movement of the satellite during the ping to synthesize recieving them with a much larger dish. Effectively captures high resolution elevation data over a very narraw width from low orbits. Uses a large amount of power but functions in lit and unlit situations.
		
		#autoLOC_SCANsat_SARC_Title				=  SAR-C Antenna
		#autoLOC_SCANsat_SARC_Description	= An advanced synthetic aperture radar instrument, which uses more power to operate at larger swaths and from higher altitudes. Effectively captures high resolution elevation data from medium orbits, but is restricted to a very narrow range of operation. Uses a large amount of power and functions in lit and unlit situations.
		
		#autoLOC_SCANsat_SARL_Title				= SAR-L Antenna
		#autoLOC_SCANsat_SARL_Description	= The most advanced synthetic aperture radar instrument, which uses a massive antenna to transmit and recieve multiple polarizations of radar energy. Can map large swaths of terrain from higher orbits, and due to the rich nature of the recieved data also map biomes. Uses a very large amount of power and functions in lit and unlit situations.
	
		#autoLOC_SCANsat_Multi_MS1_Title					= MS-1 Multispectral Scanner
		#autoLOC_SCANsat_Multi_MS1_Description		= This lower resolution multispectral scanner observes light reflected off a target's surface to deliver low-detail color and biome maps. Because of the entry-level components in this scanner model, it must be placed in lower orbits to operate effectively, and cannot be detect resources. Uses a small amount of power, and only operates in daylight.
		
		#autoLOC_SCANsat_Multi_MSR_Title					= MS-R Enhanced Multispectral Scanner
		#autoLOC_SCANsat_Multi_MSR_Description		= The enhanced multispectral scanner is a real jack of all trades, observing light reflected off a planet's surface and delivering low-detail colour images and biome maps. It can even detect surface resources. Improved optics and electronics allow effective operation at higher orbits compared to entry-level products, but only in a narrow swathe. Uses a small amount of power, and only operates in daylight.
		
		#autoLOC_SCANsat_Multi_MS2A_Title				= MS-2A Advanced Multispectral Scanner
		#autoLOC_SCANsat_Multi_MS2A_Description	= Examining the optical wavelengths in a number of spectral channels, the advanced scanner model produces low-detail colour images, biome maps and resource distributions. Uses a small amount of power, and only operates in daylight.
	
		#autoLOC_SCANsat_VS1_Title			= VS-1 High Resolution Imager
		#autoLOC_SCANsat_VS1_Description	= This entry-level observation telescope produces beautiful high detail colour images - from a low orbit only. Uses a small amount of power and functions only in lit situations.
	
		#autoLOC_SCANsat_VS3_Title			= VS-3 Advanced High Resolution Imager
		#autoLOC_SCANsat_VS3_Description = The pinnacle of Kerbal non-government high-resolution observation, this large and expensive imager produces high detail colour images and can identify unique surface features. Uses a small amount of power and functions only in lit situations.
	
		#autoLOC_SCANsat_VS11_Title			= VS-11 Classified Reconnaissance Imager
		#autoLOC_SCANsat_VS11_Description = The *REDACTED* can observe *REDACTED* targets every *REDACTED* from altitudes of *REDACTED* to *REDACTED*. Such amazing *REDACTED* have led *REDACTED* to speculate that *REDACTED* *REDACTED*. Uses a medium amount of power and functions only in lit situations.
	
		#autoLOC_SCANsat_R_Title					= SCAN-R Resource Mapper
		#autoLOC_SCANsat_R_Description		= An entry-level resource mapping instrument that works well at low orbital altitudes, though only scans over a very narrow width. Uses a moderate amount of power and functions only in lit situations.
	
		#autoLOC_SCANsat_R2_Title				= SCAN-R2 Advanced Resource Mapper
		#autoLOC_SCANsat_R2_Description 	= A medium-tech resource imager that can evaluate useful resources from higher orbits. Uses a moderate amount of power and functions only in lit situations.
	
		#autoLOC_SCANsat_RX_Title				= SCAN-RX Hyperspectral Resource Mapper
		#autoLOC_SCANsat_RX_Description	= A high-tech resource imager that captures hundreds of channels of data, to evaluate useful resource distributions from higher orbits. Uses a small amount of power and functions only in lit situations.
	}
}