Localization
{
	es-es
	{
		#autoLOC_SCANsat_mainMapToggle		= Mapa Principal
		#autoLOC_SCANsat_bigMapToggle		= Mapa Grande
		#autoLOC_SCANsat_zoomMapToggle		= Mapa con Zoom
		#autoLOC_SCANsat_overlayToggle		= Sobreposición Planetaria
		#autoLOC_SCANsat_instrumentsToggle	= Instrumentos de Lectura
		#autoLOC_SCANsat_settingsToggle		= Ajustes
		#autoLOC_SCANsat_mainMapColor		= Color de Mapa
		#autoLOC_SCANsat_mainMapTerminator	= Terminador de Día/Noche del Mapa
		#autoLOC_SCANsat_mainMapType		= Cambiar Terreno/Bioma
		#autoLOC_SCANsat_mainMapMinimize	= Mostrar/ocultar informacion de la nave
		#autoLOC_SCANsat_mainMapStatus		= Indicadores del Estado del Scáner
		#autoLOC_SCANsat_mainMapPercentage	= Porcentaje de Terminación del Escáner Activo
		#autoLOC_SCANsat_bigMapRefresh		= Refrescar Mapa
		#autoLOC_SCANsat_bigMapColor		= Color de Mapa
		#autoLOC_SCANsat_bigMapTerminator	= Terminador de Día/Noche del Mapa
		#autoLOC_SCANsat_bigMapGrid		= Sobreposición de Cuadrícula
		#autoLOC_SCANsat_bigMapOrbit		= Sobreposición de Órbita
		#autoLOC_SCANsat_bigMapWaypoints	= Waypoints
		#autoLOC_SCANsat_bigMapAnomaly		= Anomalias
		#autoLOC_SCANsat_bigMapFlags		= Banderas
		#autoLOC_SCANsat_bigMapLegend		= Map Leyenda
		#autoLOC_SCANsat_bigMapResource		= Sobreposición de Recursos
		#autoLOC_SCANsat_bigMapExport		= Exporta Mapa al Disco
		#autoLOC_SCANsat_overlayRefresh		= Refrescar Mapa
		#autoLOC_SCANsat_insNextResource	= Siguiente Recurso
		#autoLOC_SCANsat_insPreviousResource	= Anterior Recurso
		#autoLOC_SCANsat_zoomVesselSync		= Sincronizar Nave Actual
		#autoLOC_SCANsat_zoomVesselLock		= Mantener Posición en la Nave
		#autoLOC_SCANsat_zoomMapRefresh		= Refrescar Mapa
		#autoLOC_SCANsat_zoomMapWindowState	= Cambiar Camaño de Mapa
		#autoLOC_SCANsat_zoomMapIn		= Aumentar Zoom
		#autoLOC_SCANsat_zoomMapOut		= Reducir Zoom
		#autoLOC_SCANsat_zoomMapLeft		= Cambiar a la Izquierda	
		#autoLOC_SCANsat_zoomMapRight		= Cambiar a la Derecha
		#autoLOC_SCANsat_zoomMapUp		= Cambiar Arriba
		#autoLOC_SCANsat_zoomMapDown		= Cambiar Abajo
		#autoLOC_SCANsat_zoomMapIcons		= Íconos del Mapa
		#autoLOC_SCANsat_waypointToggle		= Seleccionador de Waypoints
		#autoLOC_SCANsat_waypointSet		= Crear Waypoint
		#autoLOC_SCANsat_waypointCancel		= Cancelar Waypoint
		#autoLOC_SCANsat_waypointMechJeb	= Establer MechJeb Aterrizaje en Objetivo
		#autoLOC_SCANsat_waypointNameRefresh	= Reiniciar Waypoint
	}
}
