Localization
{
	en-us
	{
		#autoLOC_SCANsat_mainMapToggle = Main Map
		#autoLOC_SCANsat_bigMapToggle = Big Map
		#autoLOC_SCANsat_zoomMapToggle = Zoom Map
		#autoLOC_SCANsat_overlayToggle = Planetary Overlay
		#autoLOC_SCANsat_instrumentsToggle = Instruments Readout
		#autoLOC_SCANsat_settingsToggle = Settings
		#autoLOC_SCANsat_mainMapColor = Map Color
		#autoLOC_SCANsat_mainMapTerminator = Map Day/Night Terminator
		#autoLOC_SCANsat_mainMapType = Terrain/Biome Toggle
		#autoLOC_SCANsat_mainMapMinimize = Show/Hide Vessel Info
		#autoLOC_SCANsat_mainMapStatus = Scanner Status Indicators
		#autoLOC_SCANsat_mainMapPercentage = Active Scanner Completion Percentage
		#autoLOC_SCANsat_bigMapRefresh = Map Refresh
		#autoLOC_SCANsat_bigMapColor = Map Color
		#autoLOC_SCANsat_bigMapTerminator = Map Day/Night Terminator
		#autoLOC_SCANsat_bigMapGrid = Grid Overlay
		#autoLOC_SCANsat_bigMapOrbit = Orbit Overlay
		#autoLOC_SCANsat_bigMapWaypoints = Waypoints
		#autoLOC_SCANsat_bigMapAnomaly = Anomalies
		#autoLOC_SCANsat_bigMapFlags = Flags
		#autoLOC_SCANsat_bigMapLegend = Map Legend
		#autoLOC_SCANsat_bigMapResource = Resource Overlay
		#autoLOC_SCANsat_bigMapExport = Export Map To Disk
		#autoLOC_SCANsat_overlayRefresh = Map Refresh
		#autoLOC_SCANsat_insNextResource = Next Resource
		#autoLOC_SCANsat_insPreviousResource = Previous Resource
		#autoLOC_SCANsat_zoomVesselSync = Sync Current Vessel
		#autoLOC_SCANsat_zoomVesselLock = Lock Position To Vessel
		#autoLOC_SCANsat_zoomMapRefresh = Map Refresh
		#autoLOC_SCANsat_zoomMapWindowState = Toggle Window Size
		#autoLOC_SCANsat_zoomMapIn = Zoom In
		#autoLOC_SCANsat_zoomMapOut = Zoom Out
		#autoLOC_SCANsat_zoomMapLeft = Shift Left	
		#autoLOC_SCANsat_zoomMapRight = Shift Right	
		#autoLOC_SCANsat_zoomMapUp = Shift Up
		#autoLOC_SCANsat_zoomMapDown = Shift Down
		#autoLOC_SCANsat_zoomMapIcons = Map Icons
		#autoLOC_SCANsat_waypointToggle = Waypoint Selector
		#autoLOC_SCANsat_waypointSet = Create Waypoint
		#autoLOC_SCANsat_waypointCancel = Cancel Waypoint
		#autoLOC_SCANsat_waypointMechJeb = Set MechJeb Landing Target
		#autoLOC_SCANsat_waypointNameRefresh = Reset Waypoint
	}
	ru
	{
		#autoLOC_SCANsat_mainMapToggle = Основная Карта
		#autoLOC_SCANsat_bigMapToggle = Большая Карта
		#autoLOC_SCANsat_zoomMapToggle = Детальная Карта
		#autoLOC_SCANsat_overlayToggle = Планетарный Оверлей
		#autoLOC_SCANsat_instrumentsToggle = Инструментальные Показания
		#autoLOC_SCANsat_settingsToggle = Настройки
		#autoLOC_SCANsat_mainMapColor = Цвета Карты
		#autoLOC_SCANsat_mainMapTerminator = Терминатор (День/Ночь)
		#autoLOC_SCANsat_mainMapType = Ландшафт/Биомы
		#autoLOC_SCANsat_mainMapMinimize = Вкл/Выкл Данные Корабля
		#autoLOC_SCANsat_mainMapStatus = Индикаторы Статуса Сканера
		#autoLOC_SCANsat_mainMapPercentage = Процент Завершения Активного Сканирования
		#autoLOC_SCANsat_bigMapRefresh = Обновить Карту
		#autoLOC_SCANsat_bigMapColor = Цвета Карты
		#autoLOC_SCANsat_bigMapTerminator = Терминатор (День/Ночь)
		#autoLOC_SCANsat_bigMapGrid = Сетка
		#autoLOC_SCANsat_bigMapOrbit = Орбиты
		#autoLOC_SCANsat_bigMapWaypoints = Вэйпоинты
		#autoLOC_SCANsat_bigMapAnomaly = Аномалии
		#autoLOC_SCANsat_bigMapFlags = Флаги
		#autoLOC_SCANsat_bigMapLegend = Легенда Карты
		#autoLOC_SCANsat_bigMapResource = Оверлей Ресурсов
		#autoLOC_SCANsat_bigMapExport = Экспорт Карты на Диск
		#autoLOC_SCANsat_overlayRefresh = Обновить Карту
		#autoLOC_SCANsat_insNextResource = След. Ресурс
		#autoLOC_SCANsat_insPreviousResource = Пред. Ресурс
		#autoLOC_SCANsat_zoomVesselSync = Синх. Текущего Корабля
		#autoLOC_SCANsat_zoomVesselLock = Закрепить Поз. Корабля
		#autoLOC_SCANsat_zoomMapRefresh = Обновить Карту
		#autoLOC_SCANsat_zoomMapWindowState = Размер Окна
		#autoLOC_SCANsat_zoomMapIn = Увеличить
		#autoLOC_SCANsat_zoomMapOut = Уменьшить
		#autoLOC_SCANsat_zoomMapLeft = Влево
		#autoLOC_SCANsat_zoomMapRight = Вправо
		#autoLOC_SCANsat_zoomMapUp = Вверх
		#autoLOC_SCANsat_zoomMapDown = Вниз
		#autoLOC_SCANsat_zoomMapIcons = Символы Карты
		#autoLOC_SCANsat_waypointToggle = Выбор Вэйпоинта
		#autoLOC_SCANsat_waypointSet = Создать Вэйпоинт
		#autoLOC_SCANsat_waypointCancel = Отменить Вэйпоинт
		#autoLOC_SCANsat_waypointMechJeb = Зона Посадки MechJeb
		#autoLOC_SCANsat_waypointNameRefresh = Обновить Вэйпоинт	
	}
	es-es
	{
		#autoLOC_SCANsat_mainMapToggle = Mapa Principal
		#autoLOC_SCANsat_bigMapToggle = Mapa Grande
		#autoLOC_SCANsat_zoomMapToggle = Mapa con Zoom
		#autoLOC_SCANsat_overlayToggle = Sobreposición Planetaria
		#autoLOC_SCANsat_instrumentsToggle = Instrumentos de Lectura
		#autoLOC_SCANsat_settingsToggle = Ajustes
		#autoLOC_SCANsat_mainMapColor = Color de Mapa
		#autoLOC_SCANsat_mainMapTerminator = Terminador de Día/Noche del Mapa
		#autoLOC_SCANsat_mainMapType = Cambiar Terreno/Bioma
		#autoLOC_SCANsat_mainMapMinimize = Mostrar/ocultar informacion de la nave
		#autoLOC_SCANsat_mainMapStatus = Indicadores del Estado del Scáner
		#autoLOC_SCANsat_mainMapPercentage = Porcentaje de Terminación del Escáner Activo
		#autoLOC_SCANsat_bigMapRefresh = Refrescar Mapa
		#autoLOC_SCANsat_bigMapColor = Color de Mapa
		#autoLOC_SCANsat_bigMapTerminator = Terminador de Día/Noche del Mapa
		#autoLOC_SCANsat_bigMapGrid = Sobreposición de Cuadrilla
		#autoLOC_SCANsat_bigMapOrbit = Sobreposición de Órbita
		#autoLOC_SCANsat_bigMapWaypoints = Waypoints
		#autoLOC_SCANsat_bigMapAnomaly = Anomalias
		#autoLOC_SCANsat_bigMapFlags = Banderas
		#autoLOC_SCANsat_bigMapLegend = Map Leyenda
		#autoLOC_SCANsat_bigMapResource = Sobreposición de Recursos
		#autoLOC_SCANsat_bigMapExport = Exporta Mapa al Disco
		#autoLOC_SCANsat_overlayRefresh = Refrescar Mapa
		#autoLOC_SCANsat_insNextResource = Siguiente Recurso
		#autoLOC_SCANsat_insPreviousResource = Anterior Recurso
		#autoLOC_SCANsat_zoomVesselSync = Sincronizar Nave Actual
		#autoLOC_SCANsat_zoomVesselLock = Mantener Posición en la Nave
		#autoLOC_SCANsat_zoomMapRefresh = Refrescar Mapa
		#autoLOC_SCANsat_zoomMapWindowState = Cambiar Camaño de Mapa
		#autoLOC_SCANsat_zoomMapIn = Aumentar Zoom
		#autoLOC_SCANsat_zoomMapOut = Reducir Zoom
		#autoLOC_SCANsat_zoomMapLeft = Cambiar a la Izquierda	
		#autoLOC_SCANsat_zoomMapRight = Cambiar a la Derecha
		#autoLOC_SCANsat_zoomMapUp = Cambiar Arriba
		#autoLOC_SCANsat_zoomMapDown = Cambiar Abajo
		#autoLOC_SCANsat_zoomMapIcons = Íconos del Mapa
		#autoLOC_SCANsat_waypointToggle = Seleccionador de Waypoints
		#autoLOC_SCANsat_waypointSet = Crear Waypoint
		#autoLOC_SCANsat_waypointCancel = Cancelar Waypoint
		#autoLOC_SCANsat_waypointMechJeb = Establer MechJeb Aterrizaje en Objetivo
		#autoLOC_SCANsat_waypointNameRefresh = Reiniciar Waypoint
	}
}
