Localization
{
	zh-cn
	{
		#autoLOC_SCANsat_Analyze		= 分析数据
		#autoLOC_SCANsat_StartScan		= 开始扫描 
		#autoLOC_SCANsat_StopScan		= 停止扫描
		#autoLOC_SCANsat_ToggleScan		= 开关扫描器
		#autoLOC_SCANsat_Extend			= 展开
		#autoLOC_SCANsat_Retract		= 收起
		#autoLOC_SCANsat_Unknown		= 未知
		#autoLOC_SCANsat_All_Disabled		= 所有扫描器已禁用
		#autoLOC_SCANsat_Disabled		= 扫描器禁用
		#autoLOC_SCANsat_TooLow			= 高度过低
		#autoLOC_SCANsat_SubOptimal		= 欠佳
		#autoLOC_SCANsat_Ideal			= 理想
		#autoLOC_SCANsat_TooHigh		= 高度过高
		#autoLOC_SCANsat_NoData			= 无数据
		#autoLOC_SCANsat_Abundance		= 丰富
		#autoLOC_SCANsat_Surface		= 表面
		#autoLOC_SCANsat_AltitudeMin		= 最低高度: <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest		= 最佳高度: <<1>>km\n
		#autoLOC_SCANsat_AltitudeMax		= 最大高度: <<1>>km\n
		#autoLOC_SCANsat_FOV			= 扫描锥角: <<1>>
		#autoLOC_SCANsat_MapProjection		= 地图设计
		#autoLOC_SCANsat_MapType		= 地图类型
		#autoLOC_SCANsat_MapResource		= 资源
		#autoLOC_SCANsat_MapBody		= 天体
		#autoLOC_SCANsat_GeneralSettings	= 全局设置
		#autoLOC_SCANsat_BackgroundSettings	= 后台设置
		#autoLOC_SCANsat_ResourceSettings	= 资源设置
		#autoLOC_SCANsat_DataManagement		= 数据管理
		#autoLOC_SCANsat_ColorManagement	= 颜色管理
	}
}
