Localization
{
	zh-cn
	{
		#autoLOC_SCANsat_BTDT_Title			= SCAN异常点传感器
		#autoLOC_SCANsat_BTDT_Description		= 这个小的传感器能自动识别附近的异常，就算它只在非常短的距离内和非常低的高度上工作，可用于跟踪已识别的异常点，非常有用。
		
		#autoLOC_SCANsat_BTDT_Exo_Description 	        = 这种型号的扫描设备包含一组被动和主动传感器，旨在快速锁定附近的有趣特征。

		#autoLOC_SCANsat_Multi_Title			= SCAN多谱段传感器
		#autoLOC_SCANsat_Multi_Description		= 这个多谱段传感器检测到的辐射包括了红外波段,可见光波段与雷达波段，这给了它区分地形类型和生物群系的能力。它也可以用于扫描异常点，比如地表特殊结构。

		#autoLOC_SCANsat_Radar_Title			= SCAN雷达测高传感器
		#autoLOC_SCANsat_Radar_Description		= SCAN给你带来高性能雷达测高传感器。它是这个传感器家族的入门型，通常和玩具火箭、遥控飞机模型捆绑销售。研究小组经研究得知95%的目标受众尝试用胶带把它粘到火箭排气口上，这种改进似乎使之更容易使用。

		#autoLOC_SCANsat_SAR_Title			= SCAN合成孔径雷达测高传感器
		#autoLOC_SCANsat_SAR_Description		= 这种合成孔径雷达测高传感器使用它的飞行路径来模拟一个更大的天线，这使得其可以使用更高的分辨率扫描地形，缺点是视野比较小，并且它在更高的地方才能获得最佳工作状态。
		
		#autoLOC_SCANsat_Radar3B_Title			= R-3B雷达高度计
		#autoLOC_SCANsat_Radar3B_Description	        = 高精度雷达测高仪可在卫星下方很窄的范围内收集基本高程数据。功率适中，可在有光和无光的情况下使用。
		
		#autoLOC_SCANsat_RadarEO_Title			= R-EO-1雷达天线
		#autoLOC_SCANsat_RadarEO_Description	        = 这款入门级L波段雷达测高仪从较低的轨道上收集中等波段的低分辨率高程数据。功率适中，可在有光和无光的情况下使用。
	
		#autoLOC_SCANsat_SARX_Title			= SAR-X天线
		#autoLOC_SCANsat_SARX_Description	        = 一个基本的合成孔径雷达仪器，它发出雷达信号，并利用卫星在探测过程中的运动，用一个大得多的天线合成接收这些信号。有效地捕捉到了低轨道上的高分辨率高程数据，宽度非常窄。使用大量的电力，但在有光和无光的情况下的功能。
		
		#autoLOC_SCANsat_SARC_Title			=  SAR-C天线
		#autoLOC_SCANsat_SARC_Description	        = 一种先进的合成孔径雷达仪器，它使用更多的功率在更大的范围内和更高的高度上运行。能有效地捕捉到中等轨道上的高分辨率高程数据，但限于很窄的工作范围。使用功率大，在有光和无光的情况下都能发挥作用。
		
		#autoLOC_SCANsat_SARL_Title			= SAR-L天线
		#autoLOC_SCANsat_SARL_Description	        = 最先进的合成孔径雷达仪器，它使用巨大的天线发射和接收多种极化的雷达能量。可以从较高的轨道上绘制大片的地形图，由于接收数据的丰富性，还可以绘制生物群落图。使用功率非常大，在有光和无光的情况下都能发挥作用。
	
		#autoLOC_SCANsat_Multi_MS1_Title		= MS-1多光谱扫描仪
		#autoLOC_SCANsat_Multi_MS1_Description	        = 这种分辨率较低的多光谱扫描仪观察目标表面反射的光，以提供低细节的色彩和生物群落图。由于该扫描仪型号中的入门级组件，它必须放置在较低的轨道上才能有效地运行，并且不能探测资源。耗电量小，只能在日光下工作。
		
		#autoLOC_SCANsat_Multi_MSR_Title		= MS-R增强型多光谱扫描仪
		#autoLOC_SCANsat_Multi_MSR_Description	        = 增强型多谱扫描仪是真正的万能扫描仪，可观测行星表面反射的光线，并提供低细节的彩色图像和生物群落图。它甚至可以探测地表资源。与入门级产品相比，改进后的光学和电子器件可以在更高的轨道上有效运行，但只能在狭窄的范围内运行。使用少量的电力，并且只在日光下工作。
		
		#autoLOC_SCANsat_Multi_MS2A_Title		= MS-2A高级多光谱扫描仪
		#autoLOC_SCANsat_Multi_MS2A_Description    	= 先进的扫描仪模型通过检查多个光谱通道中的光学波长，产生低细节的彩色图像、生物群落图和资源分布。使用少量的电力，并且只在日光下工作。
	
		#autoLOC_SCANsat_VS1_Title			= VS-1高分辨率成像仪
		#autoLOC_SCANsat_VS1_Description	        = 这款入门级观测望远镜可产生美丽的高细节彩色图像,仅从低轨道拍摄。耗电量小，只在有光的情况下工作。
	
		#autoLOC_SCANsat_VS3_Title			= VS-3高级高分辨率成像仪
		#autoLOC_SCANsat_VS3_Description                = Kerbal非政府高分辨率观测的巅峰之作，这种大型而昂贵的成像器可产生高细节的彩色图像，并可识别独特的表面特征。耗电量小，只在有灯光的情况下工作。
	
		#autoLOC_SCANsat_VS11_Title			= VS-11机密侦察成像仪
		#autoLOC_SCANsat_VS11_Description  		=  *被删减*可以观察到*被删减*从*被删减*到*被删减*高度的每一个*被删减*目标。如此惊人的*被删减*让*被删减*猜测，*被删减*的*被删减*。使用中等功率，仅在照明情况下发挥作用。
	
		#autoLOC_SCANsat_R_Title			= SCAN-R资源测绘仪
		#autoLOC_SCANsat_R_Description			=  一台入门级资源测绘仪器，在低轨道高度上工作良好，不过只能在很窄的宽度上进行扫描。功率适中，只在有灯光的情况下工作。
	
		#autoLOC_SCANsat_R2_Title			= SCAN-R2高级资源测绘仪
		#autoLOC_SCANsat_R2_Description 		= 中等技术的资源成像仪，可评估较高轨道上的有用资源。功率适中，仅在有灯光的情况下工作。
	
		#autoLOC_SCANsat_RX_Title			=  SCAN-RX高光谱资源成像仪
		#autoLOC_SCANsat_RX_Description	   		= 高科技资源成像仪，可捕获数百个通道的数据，以评估来自更高轨道的有用资源分布。使用小功率，仅在有光的情况下发挥作用。
	}
}
