Localization
{
	zh-cn
	{
		#autoLOC_SCANsat_BTDT_Title			= SCAN Been There Done That®
		#autoLOC_SCANsat_BTDT_Description		= 这个小的传感器能自动识别附近的异常，就算它只在非常短的距离内和非常低的高度上工作，可用于跟踪已识别的异常点，非常有用。

		#autoLOC_SCANsat_Multi_Title			= SCAN Multispectral Sensor
		#autoLOC_SCANsat_Multi_Description		= 这个多谱段传感器检测到的辐射包括了红外波段,可见光波段与雷达波段，这给了它区分地形类型和生物群系的能力。它也可以用于扫描异常点，比如地表特殊结构。

		#autoLOC_SCANsat_Radar_Title			= SCAN RADAR Altimetry Sensor
		#autoLOC_SCANsat_Radar_Description		= SCAN给你带来高性能雷达测高传感器。它是这个传感器家族的入门型，通常和玩具火箭、遥控飞机模型捆绑销售。研究小组经研究得知95%的目标受众尝试用胶带把它粘到火箭排气口上，这种改进似乎使之更容易使用。

		#autoLOC_SCANsat_SAR_Title			= SCAN SCAN SAR Altimetry Sensor
		#autoLOC_SCANsat_SAR_Description		= 这种合成孔径雷达测高传感器使用它的飞行路径来模拟一个更大的天线，这使得其可以使用更高的分辨率扫描地形，缺点是视野比较小，并且它在更高的地方才能获得最佳工作状态。
	}
}