Localization
{
	zh-cn
	{
		#autoLOC_SCANsat_mainMapToggle		= 主地图
		#autoLOC_SCANsat_bigMapToggle		= 大地图
		#autoLOC_SCANsat_zoomMapToggle		= 缩放地图
		#autoLOC_SCANsat_overlayToggle		= 行星显示
		#autoLOC_SCANsat_instrumentsToggle	= 仪器读数
		#autoLOC_SCANsat_settingsToggle		= 设置
		#autoLOC_SCANsat_mainMapColor		= 地图颜色
		#autoLOC_SCANsat_mainMapTerminator	= 地图晨昏线
		#autoLOC_SCANsat_mainMapType		= 开关地形/生物群系
		#autoLOC_SCANsat_mainMapMinimize	= 显示/隐藏载具信息
		#autoLOC_SCANsat_mainMapStatus		= 扫描器状态标识
		#autoLOC_SCANsat_mainMapPercentage	= 显示扫描完成度
		#autoLOC_SCANsat_bigMapRefresh		= 刷新地图
		#autoLOC_SCANsat_bigMapColor		= 地图颜色
		#autoLOC_SCANsat_bigMapTerminator	= 地图晨昏线
		#autoLOC_SCANsat_bigMapGrid		= 网格显示
		#autoLOC_SCANsat_bigMapOrbit		= 轨道显示
		#autoLOC_SCANsat_bigMapWaypoints	= 导航点
		#autoLOC_SCANsat_bigMapAnomaly		= 异常点
		#autoLOC_SCANsat_bigMapFlags		= 旗帜
		#autoLOC_SCANsat_bigMapLegend		= 图例
		#autoLOC_SCANsat_bigMapResource		= 资源显示
		#autoLOC_SCANsat_bigMapExport		= 导出地图到硬盘
		#autoLOC_SCANsat_overlayRefresh		= 刷新地图
		#autoLOC_SCANsat_insNextResource	= 下一资源
		#autoLOC_SCANsat_insPreviousResource	= 上一资源
		#autoLOC_SCANsat_zoomVesselSync		= 同步当前载具
		#autoLOC_SCANsat_zoomVesselLock		= 锁定视角到载具位置
		#autoLOC_SCANsat_zoomMapRefresh		= 刷新地图
		#autoLOC_SCANsat_zoomMapWindowState	= 切换窗口大小
		#autoLOC_SCANsat_zoomMapIn		= 放大
		#autoLOC_SCANsat_zoomMapOut		= 缩小
		#autoLOC_SCANsat_zoomMapLeft		= 左移	
		#autoLOC_SCANsat_zoomMapRight		= 右移	
		#autoLOC_SCANsat_zoomMapUp		= 上移
		#autoLOC_SCANsat_zoomMapDown		= 下移
		#autoLOC_SCANsat_zoomMapIcons		= 地图图标
		#autoLOC_SCANsat_waypointToggle		= 导航点选择器
		#autoLOC_SCANsat_waypointSet		= 创建导航点
		#autoLOC_SCANsat_waypointCancel		= 取消导航点
		#autoLOC_SCANsat_waypointMechJeb	= 设定MJ着陆目标
		#autoLOC_SCANsat_waypointNameRefresh	= 重置导航点
	}
}
